<p id="notice"><%= notice %></p>

<h1>Lost and Found Posts</h1>

<div class="row top25">
  <div class="col-md-8 col-md-offset-2">

  <% @posts.each do |post| %>
    <div class="row well">
      <h3><%= post.status %></h3>
      <p><strong><%= post.title %></strong></p>
      <p><strong>Description:</strong> <%= post.description %></p>
      <p><strong>Location:</strong> <%= post.location %></p>
      <p><strong>Date:</strong> <%= post.date %></p>
      <button class="btn btn-default pull-right"><a href="mailto:<%= @user.email %>">Contact Me</a></button>
    </div> 
  <% end %>

  </div>

</div>

<button class="btn btn-default"><%= link_to 'New Post', new_post_path %></button>

