<%= render partial: "layouts/nav", locals: {user: @user} %>
<h1>Hello World About Page</h1>
	<div class="col-md-8">
		<%= @posts.each do |p| %> 
		<div class="well">
		<p><%= p.status %></p>
		<p>
		  <strong>Title:</strong>
		  <%= p.title %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%=p.description %>
		</p>
		</div>
		<% end %>
	</div>

