<!DOCTYPE html>
<html>
<head>
  <title>LostAndFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
<div id="wrapper">
<%= render partial: "layouts/nav", locals: {user: @user} %>
	<div class="container">
		<%= yield %>
	</div>
<%= render partial: "layouts/footer", locals: {user: @user} %>	
</div>
</body>
</html>
